# Toy Dataset - Análise

In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import csv

Primeiramente iremos carregar os dados contidos nos arquivos de texto. As amostras estão salvas em um arquivo diferente, `X_hyperplane.txt`, do que os labels, `y_hyperplane.txt`.

In [3]:
with open('X_hyperplane.txt') as file:
    reader = csv.reader(file)
    x_data = []
    columns = None
    for row in reader:
        x_data.append(row)
        if columns is None:
            columns = [f'x{i}' for i in range(len(row))]
    x = pd.DataFrame(x_data, dtype=np.float, columns=columns)
        
with open('y_hyperplane.txt') as file:
    reader = csv.reader(file)
    y_data = []
    for row in reader:
        y_data += row
    y = pd.Series(y_data, dtype=int)

Cada amostra contém 11 features,

In [4]:
x.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1.0,0.093868,0.161024,0.042891,0.193369,0.259702,0.238029,0.288670,0.088480,0.015798,0.208414
1,1.0,0.075217,0.220267,0.313818,0.047938,0.287715,0.124056,0.174504,0.000452,0.307160,0.161264
2,1.0,0.252066,0.208755,0.101923,0.101454,0.077649,0.181364,0.041195,0.192161,0.300272,0.089829
3,1.0,0.291396,0.156596,0.218785,0.283576,0.073750,0.163271,0.024358,0.178220,0.272331,0.053795
4,1.0,0.084042,0.271118,0.044451,0.332682,0.078608,0.201786,0.179113,0.028998,0.028107,0.317181

E a distribuição de cada uma das classes no conjunto de dados carregado,

In [64]:
Counter(y)

Counter({-1: 5017, 1: 4983})

Dividindo as amostras em conjuntos separados para cada classe, vemos as estatísticas básicas para cada uma das features.

In [5]:
class_1 = x[y==1]
class_2 = x[y==-1]

In [66]:
class_1.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
count,4983.0,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000,4983.000000
mean,1.0,0.593144,0.566740,0.584511,0.578118,0.567876,0.578948,0.562184,0.581345,0.588208,0.570745
std,0.0,0.192813,0.188164,0.192427,0.188806,0.187461,0.191470,0.188697,0.192003,0.190584,0.191363
min,1.0,0.006395,0.000290,0.007364,0.003615,0.000477,0.001112,0.001501,0.000452,0.001775,0.001876
25%,1.0,0.462164,0.435167,0.456992,0.450493,0.439808,0.443826,0.427351,0.445929,0.457480,0.438451
50%,1.0,0.578079,0.553550,0.569262,0.565829,0.557397,0.565112,0.543937,0.563752,0.573594,0.554853
75%,1.0,0.678916,0.663684,0.672401,0.666484,0.662737,0.669177,0.663030,0.672484,0.668196,0.666541
max,1.0,0.999700,0.999872,0.999781,0.999993,0.999951,0.999902,0.999923,0.999868,0.999852,0.999958

In [69]:
class_2.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
count,5017.0,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000,5017.000000
mean,1.0,0.540060,0.567827,0.547508,0.555366,0.562162,0.554807,0.571287,0.548001,0.545431,0.563812
std,0.0,0.186032,0.191637,0.186392,0.191606,0.192395,0.189285,0.192837,0.187898,0.189121,0.191250
min,1.0,0.000625,0.001811,0.000989,0.000697,0.000310,0.001771,0.001844,0.000281,0.000578,0.001166
25%,1.0,0.409888,0.434895,0.422620,0.420439,0.420786,0.424332,0.439017,0.415826,0.416674,0.427433
50%,1.0,0.519398,0.550923,0.520591,0.539109,0.548504,0.544463,0.559769,0.532508,0.528840,0.551153
75%,1.0,0.661573,0.671418,0.664353,0.666474,0.670537,0.664639,0.674048,0.666487,0.664884,0.672510
max,1.0,0.997681,0.999591,0.997773,0.999990,0.999964,0.999651,0.999966,0.999563,0.999412,0.999916

Vemos que, para as duas classes, a variância é alta, sendo quase 50% do valor da média, para todas as features. Isto pode ser um indicativo de que existem diferentes distribuições de dados em cada feature, por algum *dataset shift*.